<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Web ViewBuilder </a>
    <ul>
      <li><a href="/formRouter">Create Form</a></li>
      <li><a href="/faq">Create FAQ list</a></li>
      <li><a href="/itemdetails">Create Item Details</a></li>

      <!-- <li><a href="/authors/new">Add Author</a></li> -->
    </ul>
  </nav>
</header>
